
@{
    ViewData["Title"] = "Vista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
          
            <a href="@Url.Action("Archivos","Archivos")" class="btn btn-info">Leer Archivos</a>
        </div>
    </div>

</div>

